.auth-container {
    min-height: 100vh;
    background: url('https://assets.nflxext.com/ffe/siteui/vlv3/77c3dff1-b1ae-4c6a-a8a6-3e82e7889ac7/7d85f33e-20b2-49c2-b3cf-d6d24df4d578/US-en-20240408-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .auth-form {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 320px;
    gap: 20px;
    color: white;
  }
  
  .auth-form h2 {
    text-align: center;
  }
  
  .auth-logo {
    width: 120px;
    margin: 0 auto 20px;
    display: block;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    background: #333;
    border-radius: 5px;
    padding: 1px 5px;
  }
  
  .input-icon {
    color: #aaa;
    margin-right: 10px;
  }
  
  .input-group input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    flex: 1;
    padding: 8px;
  }
  
  .auth-form button {
    background-color: #e50914;
    padding: 12px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-size: 16px;
  }
  
  .auth-switch {
    cursor: pointer;
    font-size: 14px;
    color: #ccc;
    text-align: center;
    margin-top: 10px;
  }
  
  .auth-switch:hover {
    text-decoration: underline;
  }
  button{
    width: 240px;
    height: 35px;
    text-align: center;
    align-items: center;
  }                  
  